<div class="jumbotron center">
  <h1>Welcome to MyRecipes</h1>
  <h2>The best recipe sharing app!</h2>
  <p><%= link_to "Sign up for the app", signup_path, class: "btn btn-danger btn-lg btn-xlarge" %></p>
  <p><%= link_to "View All Recipes", recipes_path, class: "btn btn-danger btn-lg btn-xlarge" %></p>
</div>


<div class="col-lg-4">
    <h2>Biriyani</h2>
    <p>It is popular in South Indian and Sri Lankan cuisines.</p>
    <p><a class="btn btn-primary btn-xlarge" href="#" role="button">View details »</a></p>

</div>

 <div class="col-lg-4">
    <h2>Dosa</h2>
    <p>A dosa is a thin pancake or crepe, originating from South India, made from a fermented batter predominantly consisting of lentils and rice. It is somewhat similar to a crepe in appearance, although savoury flavours are generally emphasized. </p>
    <p><a class="btn btn-primary btn-xlarge" href="#" role="button">View details »</a></p>
 </div>

 
<div class="row">
  <div class="col-lg-4">
    <h2>Idly</h2>
    <p>Idli or idly are a type of savoury rice cake, originating from the Indian subcontinent, popular as breakfast foods in Southern India and in Sri Lanka. The cakes are made by steaming a batter consisting of fermented black lentils and rice. </p>
    <p><a class="btn btn-primary btn-xlarge" href="#" role="button">View details »</a></p>
  </div>
 
  