<section class="footer">
  <footer class="text-center text-white" style="background-color: #fff;;">
    <div class="container p-4 pb-0">
      <section class="">
        <div class="text-center p-3" style="background-color: #fff;">
      Follow Us for More Recipes
      </div>
    
    <div class="text-center p-3" style="background-color: #fff;">
      © 2020 Copyright
    </div>
    </div>
  </footer>
</section>